%titulo {
    color: $cool-brown;
    font-weight: 750;
    font-style: normal;
    text-align: center;
}

%parrafo {
    font-weight: 600;
    color: $cool-blue;
    text-align: center;
}



/*V A R I A B L E S*/

$cool-blue: #3b4455;
$cool-brown: #504b37;
$cool-white: #ffffff;

$font-h1: 3.5rem;
$font-h2: 3rem;
$font-h3: 2.5rem;

$font-p1: 1.7rem;
$font-p2: 1.3rem;


