/*V A R I A B L E S*/

$cool-blue: #3b4455;
$cool-brown: #504b37;
$cool-white: #ffffff;

$font-h1: 3.5rem;
$font-h2: 3rem;
$font-h3: 2.5rem;

$font-p1: 1.7rem;
$font-p2: 1.5rem;
$font-p3: 1.3rem;


    main {
        .section-contact {
            position: relative;
            width: 100%;
            height: 60rem;
            display: grid;
            place-items: center;
            background-color: $cool-white;

            @media screen and (max-width:650px) {
                height: 70rem;
            }
    
            .contact-form {
                position: relative;
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(500px 1fr));
                gap: 20px;
                padding: 40px;
                width: 90%;
                height: 60rem;
                background: #dbd9d9;
                box-shadow: 1px 9px 20px -5px rgba(0, 0, 0, 0.59);
                border-radius: 30px;

                @media screen and (max-width:650px) {
                    height: 70rem;
                }
    
                .form {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    width: 85%;
                    margin-left: 30px;
    
                    .texto {
                        h3 {
                            color: $cool-brown;
                            font-size: $font-h3;
                            margin-bottom: 10px;
                        }
    
                        p {
                            font-size: $font-p2;
                            color: $cool-blue;
                            line-height: 1.5;
                            margin-bottom: 20px;
                        }
                    }
    
                }
    
                form {
                    width: 100%;
    
                    .input-box {
                        display: flex;
                        flex-direction: column;
                        margin-bottom: 15px;
    
                        label {
                            color: $cool-blue;
                            font-weight: 700;
                        }
    
                        input[type="text"] {
                            border: none;
                            background: $cool-white;
                            padding: 10px;
                            border-radius: 15px;
                            color: $cool-blue;
                            resize: none;
                        }
    
                        input[type="email"] {
                            border: none;
                            background: $cool-white;
                            padding: 10px;
                            border-radius: 15px;
                            color: #1766a3;
                            resize: none;
                        }
    
                        textarea {
                            border: none;
                            background: $cool-white;
                            padding: 10px;
                            border-radius: 15px;
                            color: #1766a3;
                            resize: none;
                        }
    
                        input[type="text"]:focus {
                            outline: 2px solid #1766a3;
                        }
    
                        input[type="email"]:focus {
                            outline: 2px solid #1766a3;
                        }
    
                        textarea:focus {
                            outline: 2px solid #1766a3;
                        }
    
                        input[type="submit"] {
                            background-color: #1766a3;
                            display: inline-block;
                            text-align: center;
                            width: 250px;
                            padding: 10px;
                            border-radius: 15px;
                            color: $cool-white;
                            /*letter-spacing: 1px;*/
                            border: none;
                            cursor: pointer;
                            box-shadow: 1px 9px 20px -5px rgba(0, 0, 0, 0.59);
                        }
    
                        input[type="submit"]:hover {
                            background: $cool-blue;
                        }
                    }
                }  
                
            }
        }
    }
    









